[Unit]
Description=Java Application
After=network.target

[Service]
ExecStart=/usr/bin/java -jar /opt/app/simple-java-app-ansible-0.0.1-SNAPSHOT.jar
User={{ ansible_user }}
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=java-app

[Install]
WantedBy=multi-user.target
